fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
python-multipart
anthropic
aiofiles
pillow
requests
httpx
bcrypt
passlib[bcrypt]
python-jose[cryptography]
pytz
resend
pydantic[email]
cloudinary
beautifulsoup4
pypdf
PyMuPDF
